@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif !important;
}

:root {
  background-color: #F4F7FE;
  color: #000; 
}

[data-theme='light'] {
  .SideBar {
    background-color: #fff;
    color: #2B3674;
  }

  .SideBar .pages {
    color: #A3AED0;
  }

  .route {
    color: 	#707EAE;
  }

  .routeName {
    color: #2B3674;
  }
}

/* [data-theme='dark'] {
    background-color: #0B1437; 
    color: #fff;
} */

[data-theme='dark'] {
  background-color: #0B1437;
  color: #fff;

  .SideBar {
    background-color: #111C44;
    color: #fff;
  }

  .react-calendar { 
    color: #fff;
   }

}

body {
  font-family: sans-serif;
}

input[type="checkbox"] {
  color: #4318FF;
}

input[type='checkbox'] :focus{
  outline: none;
  box-shadow: none;
  border: none;
}

/*flag*/

.ReactFlagsSelect-module_selectBtn {
  /* position: relative; */
  /* display: inline-block; */
  /* vertical-align: inherit; */
  padding: 0px;
  color: #4d4d4d;
  text-align: left; 
  border: none;
}

.flag-select .country-flag {
  cursor: pointer; 
}


/* calendar component */

.react-calendar { 
  max-width: 100%;
  color: #2B3674;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
  padding: 5px;
 }
 .react-calendar__navigation button {
  color: #2B3674;
  min-width: 44px;
  background: #F4F7FE;
  font-size: 14px;
  margin-top: 4px;
  border-radius: 40px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
  color: #4318FF;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #F4F7FE;
  color: #4318FF;
  border-radius: 40px;
 }
 .react-calendar__tile--now {
  background: #e0e7f8;
  border-radius: 40px;
  /* font-weight: bold; */
  color: #4318FF;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #e0e7f8;
  border-radius: 20px;
  /* font-weight: bold; */
  color: #4318FF;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #4318FF;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #4318FF;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #F4F7FE;
  color: #4318FF;
  border-radius: 0px;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #4318FF;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #4318FF;
  color: white;
 }

 .marketPlace{
  background: url('../src/assets/images/Products\ 2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
 }

 /* sign-In */
 .signIn { 
  background: url('../src/assets/images/signIn-Bg.png');
  background-repeat: no-repeat;
  border-bottom-left-radius: 200px;
  background-position: top right;
  background-size: cover;
  min-height: 100vh;
 }


/* :root {
  --background-color: #F4F7FE;
  --text-color: #000;
  --sidebar-background-light: #fff;
  --sidebar-color-light: #2B3674;
  --sidebar-pages-color-light: #A3AED0;
  --background-dark: #0B1437;
  --text-color-dark: #fff;
  --sidebar-background-dark: #111C44;
  --sidebar-color-dark: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.SideBar {
  background-color: var(--sidebar-background-light);
  color: var(--sidebar-color-light);
}

.SideBar .pages {
  color: var(--sidebar-pages-color-light);
}

[data-theme='dark'] {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  --sidebar-background-light: var(--sidebar-background-dark);
  --sidebar-color-light: var(--sidebar-color-dark);
  --sidebar-pages-color-light: var(--sidebar-color-dark);
} */
